{% extends 'cartaVirtual/base.html' %}

{% block titulo %}
Carta virtual
{% endblock %}

{% block contenido %}
<section class="section-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-light">Carta Virtual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-md-auto">
                <a class="nav-link text-light" href="{{ url_for('registerEmpresa') }}">Registrar</a>
                <a class="nav-link text-light" href="{{ url_for('login') }}">Ingresar</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="inicio">
            <h1 class="titulo">Carta virtual</h1>
        </div>
    </div>
</section>


{% endblock %}